server {
    listen       {{ listen_port }};
    server_name  {{ server_name | default('localhost') }};

    location / {
        root   /usr/share/nginx/html;
        index  index.html index.htm;
    }
}